[2018-09-24 17:34] jettify opened #1 "Add flake8 and travisci builds"

[2018-09-24 17:39] jettify opened #2 "Once initial polish finished, update aiohttp docs and point users to this repository"

[2018-09-25 08:51] webknjaz opened #5 "Questioning architectural decisions wrt skeleton generator"
Hi,

Why have own CLI, when [cookiecutter](https://cookiecutter.readthedocs.io) does exactly the same?

I see why you make a dir structure template, but why reinvent the wheel with a renderer?

I suggest using a mainstream thing because otherwise, you end up maintaining yet another template rendering CLI instead of actual useful content (project boilerplate template).

cc @Arfey @jettify @asvetlov

[2018-09-25 12:43] jettify commented on #5
From a user perspective, I do not care about, how we template project, I care about the result. There is very little code that does template anyway, easy to read.

So if you have a strong opinion there I guess you can team up with @Arfey and port to cookiecutter. For me project does what I need...

[2018-09-25 15:47] asvetlov commented on #5
I have no strong opinion too.
If cookie-cutter simplifies maintenance -- let's consider to use it.
If no -- let's keep everything as is.

[2018-09-25 16:47] webknjaz commented on #5
Cookiecutter:
1) Simplifies maintenance
2) Is possibly already installed on machines of ppl who are already used to be starting with project templates
3) Has testing hooks ecosystem for templates
4) Is a de-facto standard

[2018-09-25 17:40] asvetlov commented on #5
@Arfey is the project maintainer.
I think he should decide.
My hope is not to touch this repo at all ;)

[2018-09-25 20:32] webknjaz commented on #5
Yes, there's conditionals available in cookiecutter + you can define hooks.
For tests I think the plugin is called pytest-cookies (I can look that up in some of my projects if needed).

[2018-09-25 20:40] jettify commented on #5
I like having `pip install create-aio-app` is such mode supported by cookiecutter?

[2018-09-25 20:42] webknjaz commented on #5
@Arfey https://github.com/audreyr/cookiecutter/issues/723

[2018-09-25 20:43] webknjaz commented on #5
@jettify it would be `pip install cookiecutter` and then `cookiecutter install <this repo>`

[2018-09-25 20:44] webknjaz commented on #5
I guess you could wrap that into a package, but I don't see a point.

[2018-09-25 20:47] asvetlov commented on #5
cookiecutter could be used as a library I guess to keep `create-aio-app` as an executable script

[2018-09-25 20:50] webknjaz commented on #5
It would be odd though. Your script would be
[code]

[2018-09-25 21:00] asvetlov commented on #5
`pip install <shell alias>`? 8-)

[2018-09-25 21:02] Arfey commented on #5
We can create cookiecutter package and for scripts user same as below

[code]

and handle params for configuring of cookiecutter

[2018-10-02 21:39] #5 closed

[2018-10-02 21:40] Arfey opened #8 "Add test for the cookiecutter template"

[2018-10-06 21:02] jettify opened #13 "Update setup.py to follow best practices"
[code]

Also looks like setup.py has wrong url url="https://github.com/Arfey/create-aio-app", :)

[2018-10-06 21:07] webknjaz commented on #13
Good catch! We should probably add this as a standard CI linter as well.

[2018-10-06 21:07] jettify commented on #13
yeah, cooking PR now

[2018-10-06 22:03] jettify commented on #1
Added basic CI builds as well as flake8 linter
https://github.com/aio-libs/create-aio-app/pull/14

I have not enabled tests, so feel free jump on that issue.

[2018-10-06 22:03] #1 closed

[2018-10-06 22:04] jettify commented on #13
I have added CI builds but `pyroma` is not enabled due to mentioned issues.

[2018-10-06 23:17] webknjaz commented on #13
You could just allow such job to fail, no need to not run it :)

[2018-10-08 21:40] Arfey opened #21 "Add Procfile for deploying to Heroku"

[2018-10-10 14:22] Arfey opened #24 "add wait script for redis"
@svalee if u can

[2018-10-10 20:52] svalee commented on #24
Sure thing, will do!

[2018-10-11 08:15] Arfey opened #25 "Make docker as optional"
[code]

the tool should generate project without docker for application and use docker only for `postgres` or `redis`. If  user don't want to use `postgres` and `redis` project shouldn't exist docker.

[2018-10-11 09:20] hzlmn commented on #25
Is this option will be exclusive, say if i type
[code]
will be docker added or not?

[2018-10-11 10:13] Arfey commented on #25
if u use `--without-docker` flag it's meen that your app will be start without docker. U need to install requirements `pip install -r requirements/development.txt`. But docker will be use for create postgres and redis. If u don't use postgres and redis u don't need docker :)
[code]
this commend will generate a project without the docker.

[2018-10-11 11:48] hzlmn opened #27 "Proposal: Adding pg_engine flag"
Would be nice if tool provide ability to choose postgres engine (`aiopg` or `asyncpg`).
Possible command could looks like
[code]

[2018-10-14 00:17] Arfey commented on #27
I think it's good idea. I will wait for your pr 😀

[2018-10-16 14:40] hzlmn commented on #27
There is current limitation in `cookiecutter` to add conditional options like if we check `use_postgres` only then we should choose `postgres_engine` option. So maybe it will be easier to combine this too options into one somehow.

[2018-10-17 05:13] neil-pozetroninc opened #32 "Bug: bright_green not introduced until Click 7.0"
Currently, `setup.py` just has Click without a version as a requirement. However, the color `bright_green` wasn't introduced until Click 7.0 resulting in the following error with older versions.

[code]
The following commit introduced bright colors to `termui.py`: https://github.com/pallets/click/commit/4383f608ef80168cd3f344b814caec548834c57a

[2018-10-17 08:50] Arfey commented on #32
PR welcome.

[2018-10-17 20:29] jettify opened #37 "Improve CI testing"
For more context see  https://github.com/aio-libs/create-aio-app/pull/36

1) make sure we clean containers after test even in case of test failures
2) use codecov service for tracking tests coverage

[2018-10-29 22:14] #24 closed

[2018-10-29 23:28] Arfey opened #43 "fix problem connected with picture in pypi description"
replace relative path to absolute in picture `src`

<img width="1315" alt="screen shot 2018-10-30 at 01 26 53" src="https://user-images.githubusercontent.com/10367100/47686277-f4be3c80-dbe2-11e8-87ec-aa25b3c3539c.png">

[2018-11-19 01:45] jettify commented on #13
pyroma checks enabled on ci

[2018-11-19 01:45] #13 closed

[2018-11-19 15:53] webknjaz commented on #13
Where? There's none in CI config

[2018-12-03 11:17] Arfey opened #49 "Freezing Python's Dependency"
We should be pinning our dependencies. For that:

- [ ] move all dependencies from `setup.py` to `requirements/production.txt`
- [ ]  replace `-e .` line from `requirements/development.txt` to `-r production.txt`
- [ ] create `read_ requirements` function in `setup.py`. This function should parse `production.txt` and return list of packages like `["mypy==0.641", ...]`, and use this list for `insta

[2018-12-04 12:55] #49 closed

[2018-12-04 13:05] Arfey opened #51 "Create command for update python's dependencies"
After some time you want to update your python's dependencies in your project.

So, what need to do:

- [ ] create make command for update dependencies inside `requirements/*.txt` files.
- [ ] if template use docker then print messages after update that user need to rebuild container `docker-compose up --build`
- [ ] add describe about this feature in `README.md`

[2018-12-10 21:46] Arfey opened #53 "Add doc directory"
When u create service you need to write documentation about it. It's good practice and one point to the karma :). It will be great if `create-aio-app` quickly provides a way to do this.

So, what need to do:

- [ ] create doc directory (use sphinx for that)
- [ ] write description about:
   - [ ] about the project's architecture
   - [ ] developing
   - [ ] testing
- [ ] add command to make file f

[2018-12-24 16:34] Arfey opened #56 "need to correct structure to cookiecutter format"
https://github.com/audreyr/cookiecutter#python.

The cookiecutter don't have template for aiohttp in repository, yet. So, i wanna add our template. For that repository need have special structure.
[code]
But for good install package all data need be localise inside same directory. I have two ways:

- split this repository and use as sub-repository (one only for template and second for util)
- do m

[2018-12-24 17:12] #32 closed

[2018-12-24 17:28] Arfey opened #58 "Add profiling for application"
If you want to write a fast web application, you sometimes need to profile your application. So it's good feature for `create-api-app`.

So, what need to do:
 - [ ] add make command with https://github.com/benfred/py-spy for docker (make profile)
 - [ ] write some documentations about using this feature

[2018-12-24 20:43] Arfey commented on #56
Current version:
[code]
`additional_data` is existing (localized) in `package` dir.

For correct work cookiecutter we need have other structure:

[code]

So, if i move `addition_data` to the root after `pip install` the `addition_data` will be exist in `site-packages` not in `site-packages/create-aio-app`.

[2018-12-25 02:57] Arfey commented on #53
https://create-aio-app.readthedocs.io/

[2018-12-25 22:48] webknjaz commented on #56
Try symlink, then. Otherwise, follow my initial advice of having separate things separately.

[2019-01-11 21:52] Arfey opened #67 "Added pre-commit for running linters"
This is good feature but we running all linters from docker and it's not fast. Does anyone have any thoughts about this?

[2019-01-11 22:36] webknjaz commented on #67
What do you mean? Run it in the CI directly

[2019-01-11 22:41] Arfey commented on #67
CI as a solution. Thanks :) I will add ci file for gitlab.

[2019-01-12 20:15] jettify commented on #56
I do not have experience with `cookiecutter`, but looks like other projects prefer separate repo.

[2019-01-12 20:18] jettify commented on #56
If you guys think that we need separate repo we I can handle repo logistics.

[2019-01-13 16:57] Arfey commented on #56
good

[2019-01-13 17:04] Arfey commented on #67
I think that i have better idea. Right now all linters and static checker work with docker. It's works like that because i wonted that user after run `create-ago-app` don't install any additional packages. But, we can add mypy, flake8 and other packages in create-aio-packages to requirement packages in `setup.py`.

[2019-01-14 14:52] Arfey opened #70 "Add Black code style"
https://github.com/ambv/black

[2019-01-15 21:52] #25 closed

[2019-01-31 21:38] CatCanCreate commented on #67
Add into .git/hooks/pre-commit:

[code]
For example?)

[2019-01-31 21:47] CatCanCreate opened #77 "Auto spec and validation"
https://github.com/maximdanilchenko/aiohttp-apispec

Replace trafaret and sphinx with apispec

Middleware for validation input data and access all validated data in route from request['data']
Auto swagger generation with aiohttp-swagger (https://github.com/cr0hn/aiohttp-swagger)

[2019-01-31 21:51] Arfey commented on #77
`Build and document REST APIs` - `create-aio-app` it's story not only about rest api.

[2019-02-14 22:00] #8 closed

[2019-03-04 23:31] #70 closed

[2019-03-18 05:43] dependabot[bot] opened #85 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-18 14:00] #85 closed

[2019-03-18 14:23] greysteil commented on #85
This was a bug on our side - sorry about that!

[2019-04-18 16:26] #43 closed

[2019-04-18 20:17] Exs1de opened #89 "Couldn't connect to Docker daemon"
Hello, I've just installed create-aio-app. While running tests i got this error:
  `Couldn't connect to Docker daemon at http+docker://localhost - is it running?`

Docker service is active, docker-compose installed. I added my user to docker user group, and tried to restart docker, nothing helped. How can i fix this problem?

[code]

[2019-04-18 20:19] Arfey commented on #89
maybe u need to install docker? 🧐

[2019-04-18 20:23] Exs1de commented on #89
As i mentioned before, Docker is successfully installed.
[code]

[2019-04-18 20:24] Arfey commented on #89
Please, give output of this command:
[code]

[2019-04-18 20:26] Arfey commented on #89
did u run docker with sudo?

[2019-04-18 20:33] Arfey commented on #89
https://github.com/docker/compose/issues/4181#issuecomment-263501259

U can run `docker` without `sudo` and use `make test` or run `docker-compose` with `sudo`.

[2019-04-18 20:37] Exs1de commented on #89
[code]

I rebooted my laptop one more time and this error disappeared... )

[2019-04-18 20:38] Arfey commented on #89
This is good news :)

[2019-04-18 20:38] #89 closed

[2019-04-18 21:05] Arfey opened #90 "Add ci file for tests and linters"
After create service I wanna have simple ci file for tests and linters out of the box.

So, what need to do:

- [ ] add possible choose gitlab or gitlab ci file
- [ ] add test for ci files
- [ ] add linter and type checker to ci files

GitHub CI https://docs.travis-ci.com/user/languages/python/
Gitlab Ci https://docs.gitlab.com/ee/ci/examples/test-and-deploy-python-application-to-heroku.html

[2019-04-18 21:06] #67 closed

[2019-04-18 21:06] #77 closed

[2019-04-18 21:21] Arfey opened #91 "Add setuptools_scm for project"
Make life a little better (manage project versions by scm tags)

https://github.com/pypa/setuptools_scm

[2019-04-18 21:46] Arfey opened #92 "Move generate html from backend to frontend"
- [ ] added marked (https://github.com/markedjs/marked)
   - [ ] titles (1)
   - [ ] quotes (2)
   - [ ] code snippets

example: https://codepen.io/Arfey/pen/oOqKxd

<img width="830" alt="Screen Shot 2019-04-19 at 00 43 49" src="https://user-images.githubusercontent.com/10367100/56393218-672be300-623c-11e9-9b39-cc2857d66a20.png">

[2019-04-18 21:56] Arfey opened #93 "Add a help part into Makefile"
- [ ] corrected make files
- [ ] add help command to doc and readme

<img width="562" alt="image" src="https://user-images.githubusercontent.com/10367100/56393513-59c32880-623d-11e9-9b1e-ba711770ec46.png">

[code]

**Makefile**
[code]

[2019-04-18 22:33] Arfey opened #94 "Corrected declare of PROJECT_NAME in makefile"
Replace all {{ cookiecutter.project_name }} to PROJECT_NAME for simple change name in future.

https://github.com/aio-libs/create-aio-app/blob/master/create_aio_app/template/%7B%7Bcookiecutter.project_name%7D%7D/Makefile

[2019-04-18 22:40] Arfey opened #95 "Run test with params"
I want to run single test like that

[code]

for that

- [ ] replace command to entrypoint https://github.com/aio-libs/create-aio-app/blob/master/create_aio_app/template/%7B%7Bcookiecutter.project_name%7D%7D/docker-compose.yml#L60
- [ ] replace `make _test`

[2019-04-18 22:45] Arfey opened #96 "Corrected mypy"
We have problems with `mypy`
[code]

- [ ] fix problem with `mypy`
- [ ] add `mypy` to ci

[2019-04-19 22:03] Arfey opened #97 "Add create-aio-app link to cookiecutter"
https://github.com/audreyr/cookiecutter

[2019-04-19 22:46] Arfey opened #98 "Conventional Commits"
- [ ] Add part about conventional commits to `CONTRIBUTING.md`
 - [ ] Add make commend with `auto-changelog` for generate `CHANGELOG.md`
 - [ ] Generate `CHANGELOG.md`

Will be great generate `CONTRIBUTING.md` automatically after create tag.

[2019-04-19 22:49] Arfey opened #99 "Add possible choose uvloop"
https://github.com/MagicStack/uvloop

[2019-04-19 22:56] Arfey opened #100 "Tracking available of ports"
We have problem when run `create-aio-app` twice or more, because some port already in use.
Solution:

 - [ ] track available ports before create project
 - [ ] use other port if port is already in use

[2019-04-19 23:02] Arfey opened #101 "fix 404 in docs"
https://create-aio-app.readthedocs.io/py-modindex.html

[2019-04-19 23:07] Arfey opened #102 "Add Articles section to the `readme.md`"
- [ ] write simple article about create-aio-app features
 - [ ] add this article to articles section

[2019-04-19 23:12] Arfey opened #103 "Show list of commands after create a project"
After create a project i see this

<img width="207" alt="Screen Shot 2019-04-20 at 02 10 15" src="https://user-images.githubusercontent.com/10367100/56447551-9fe9bc00-6311-11e9-950d-a6b5e305975f.png">

Very useful to show a list of all commands.

[2019-04-19 23:35] Arfey opened #104 "Add warning about old version"
If at run of create-air-app a new version is available, then output a warning. ⚠️

[2019-04-20 10:05] Indoungwe commented on #95
Я буду делать

[2019-04-20 10:05] NavrotskyVasyl commented on #95
I'm doing this.

[2019-04-20 10:06] NavrotskyVasyl commented on #103
Роблю це.

[2019-04-20 10:06] Exs1de commented on #101
i am doing this

[2019-04-20 10:08] pythad commented on #91
taking it!

[2019-04-20 10:09] ayatsyny commented on #94
I take this task

[2019-04-20 10:18] tyulpan commented on #51
Take.

[2019-04-20 10:28] HelenShy commented on #100
Беру задачу

[2019-04-20 10:35] Arfey commented on #100
sure :)

[2019-04-20 10:37] Arfey commented on #103
sure :)

[2019-04-20 11:35] webknjaz opened #108 "Create issue templates for this repo"
https://help.github.com/en/articles/manually-creating-a-single-issue-template-for-your-repository

[2019-04-20 11:36] webknjaz opened #109 "Integrate setuptools-scm-git-archive"
This is a companion issue to #91. It'll improve UX for folks trying to `pip install https+git://...`

[2019-04-20 11:36] Arfey commented on #108
what about global  issue templates for group?

[2019-04-20 11:37] webknjaz commented on #108
These should probably be more project-specific. Global ones should serve as fallbacks

[2019-04-20 11:37] webknjaz commented on #91
Subtask:
- [ ] #109

[2019-04-20 11:38] Arfey commented on #108
Okey

[2019-04-20 11:42] #91 closed

[2019-04-20 11:47] webknjaz opened #110 "Implement auto-publishing new dev dists to Test PyPI on each push to master"
Cutting-edge example:
- https://github.com/sanitizers/octomachinery/blob/f7f023d/.travis.yml#L53-L65
- https://github.com/sanitizers/octomachinery/blob/f7f023d/setup.cfg#L9
- https://github.com/sanitizers/octomachinery/blob/f7f023d/octomachinery/utils/versiontools.py#L9-L38

[2019-04-20 11:48] webknjaz opened #111 "Publish *also* source dists to PyPI"
It's a best practice to publish both sdists and wheels.

Ref: https://github.com/aio-libs/create-aio-app/blob/09dd250/.travis.yml#L29

[2019-04-20 11:50] webknjaz opened #112 "Add PEP 517 and PEP 518 support to the dist via pyproject.toml"
Example: https://github.com/sanitizers/octomachinery/blob/f7f023d/pyproject.toml#L1-L8

[2019-04-20 11:52] webknjaz commented on #100
FTR, you can just use an ephemeral port (0) and the kernel will dedicate you some free port.

[2019-04-20 12:00] pythad commented on #109
I'll help with this

[2019-04-20 12:03] Arfey commented on #100
We use this port into `yaml` file for `app`, so we need some concerti port.

[2019-04-20 12:36] kajojify commented on #99
working on this

[2019-04-20 12:42] #94 closed

[2019-04-20 13:04] Arfey commented on #97
https://github.com/audreyr/cookiecutter/pull/1164

[2019-04-20 13:04] #97 closed

[2019-04-20 13:19] HelenShy opened #114 "Remove cookiecutter.json file from project_new"
Cookiecutter.json file does not need to be generated in project_new folder.

[2019-04-20 13:35] Arfey commented on #100
https://github.com/aio-libs/create-aio-app/pull/113/

[2019-04-20 13:36] #101 closed

[2019-04-20 14:06] webknjaz opened #120 "Integrate Sentry support"

[2019-04-20 14:10] webknjaz opened #121 "Add a PyPI badge to README"

[2019-04-20 14:11] webknjaz opened #122 "Add project_urls to setup.py"

[2019-04-20 14:12] kajojify commented on #96
Working on this

[2019-04-20 14:13] webknjaz opened #123 "Replace PyPI publishing account with aio-libs-bot"
Encrypted password is:
[code]

[2019-04-20 14:14] #109 closed

[2019-04-20 14:17] Arfey commented on #120
It's a nice idea 👍

[2019-04-20 14:25] #93 closed

[2019-04-20 14:40] hzlmn opened #126 "Proposal: optional support for `gino`"
Would be nice to have an option for https://github.com/fantix/gino

[2019-04-24 11:33] #121 closed

[2019-05-25 21:46] #123 closed

[2019-05-25 21:47] webknjaz commented on #111
Addressed by 0160c50.

[2019-05-25 21:47] #111 closed

[2019-05-25 21:52] Arfey commented on #123
You remove my pypi account from the history 😂

[2019-06-13 09:15] 4lovi4 commented on #122
Done here https://github.com/aio-libs/create-aio-app/pull/134

[2019-06-13 09:16] webknjaz commented on #122
Could you please also add CI there?

[2019-06-15 21:17] 4lovi4 commented on #122
Yep, next shot https://github.com/aio-libs/create-aio-app/pull/135

[2019-06-16 01:01] #122 closed

[2019-06-16 20:19] 4lovi4 commented on #95
Can't find any evidence that is possible to pass the parameters to docker compose this way in line. Is it right?

May be used something like : `docker-compose run --rm -e TEST=test_mod.py::test_func test ` ?
`

[2019-06-16 22:21] 4lovi4 commented on #120
Should it be integrated to the generated app with [sentry-sdk](https://docs.sentry.io/platforms/python/aiohttp/)?

[2019-06-17 09:16] webknjaz commented on #120
Yes

[2019-06-17 21:02] 4lovi4 commented on #120
First try https://github.com/aio-libs/create-aio-app/pull/137 check please

[2019-06-19 14:16] Arfey commented on #95
Hello. I have added a description of how this can be done.

U can test `entrypoint` using an example below:

`docker-compose.yaml`
[code]

`terminal`

[code]

Also, u can read about differences between command and entry point in this [article](https://goinbigdata.com/docker-run-vs-cmd-vs-entrypoint/).

This issue is so easy 😀. For solve issue need only follow description step by step.

`descriptio

[2019-06-20 14:50] 4lovi4 commented on #95
Think I've got the point :wink:  Thx. See it done soon.

[2019-08-29 14:13] MaxTyulin opened #144 "Incorrect support version in setup.py"
setup.py checks if python version is less than 3.5, but the code uses f-strings, which appeared only in version 3.6, as result application doesn't work if python version is less than 3.6.
The easiest way to fix this is to increase the version in setup.py, but it may be more preferable to replace f-strings with format (for example).

[2019-08-29 14:17] Arfey commented on #144
This is a boilerplate for new projects. So, we don't need to support old version of python. PR welcome :)

[2019-08-29 14:51] webknjaz commented on #144
All modern distros ship Python 3.7 already. There's no point in expanding the support matrix which also makes it more painful to maintain this.

[2019-08-29 15:12] MaxTyulin commented on #144
It is not always possible to have modern distros. I can make the necessary changes, there are only 25 f-strings.

[2019-08-29 15:13] webknjaz commented on #144
If you are introducing complexities for maintainers, don't be surprised if you'll end up having to maintain those.

[2019-08-29 15:40] MaxTyulin commented on #144
You are right, there is pyenv after all. But if I got an error, that 3.5 is unsupported, right away, it would be more useful :)

[2019-08-29 16:01] #144 closed

[2019-08-29 17:47] webknjaz commented on #144
Also there's deadsnakes for debs. And yes, correcting values in `setup.py` would be useful. Three places need updating in `setup.py`: the if-block, then the trove classifier and finally `python_requires`.

[2019-09-13 14:21] rcsm commented on #103
Hey! I'd like to help with this one. But even though I have everything installed, my docker is not running the project "kickstart" according to the [CONTRIBUTING.md](https://github.com/aio-libs/create-aio-app/blob/master/CONTRIBUTING.md). Can somebody help me to figure this out to proceed?

This is the output I have after after the `make` command :
[code]

[2019-09-13 16:02] Arfey commented on #103
Hello. Thank you for trying to help us 😀

In my opinion the main problem is that u run just `make` command. In `CONTRIBUTING.md` says that u need to run `make test`, or if u wanna run a project the first things that u need to do it's go to the directory with your project and after that use command `make`.

So, try that:

[code]

Please tell me if this solves your problem.

[2019-09-13 18:16] rcsm commented on #103
For some reason I tought I did that earlier, but I guess I must have missed something. It's running apparently ok right now. :smile:

[2019-09-13 18:23] Arfey commented on #103
all is fine

[2019-09-23 14:52] #112 closed

[2019-09-27 07:18] Arfey commented on #102
@Arfey please do :)

[2019-09-27 07:18] #99 closed

[2019-10-01 12:04] MaxTyulin commented on #110
Are the login and password for test.pypi will be the same as for production pypi?

[2019-10-01 15:49] webknjaz commented on #110
No, the TestPyPI account is completely separate.

[2019-10-18 07:21] DatscIY commented on #108
Hi I submitted a PR for this issue; hope it's okay.

Based on the PR instructions, it says to add a "new news fragment" to the `CHANGES` folder with file name 108.doc (<issue_id>.<type> type maybe feature not sure). However, I am unable to locate the `CHANGES` folder in the Master branch. Is there something I'm missing?

Thanks.

[2019-10-18 08:24] Arfey commented on #108
Sorry i don't know what you're talking about. Could u show where did u read about "new news fragment"?

[2019-10-18 19:49] ivernus commented on #104
Were you thinking of a quick poll to an endpoint to check the version at startup @Arfey?

[2019-10-18 22:22] Arfey commented on #104
Yes. Of course, if user will not have a connection to the internet he also will can create a template without problems.

[2019-10-18 23:01] ivernus commented on #104
Do you think the following logic would work?

1. User starts application
2. A function makes a simple HTTP poll to pypi for the package version, if connection fails, skip to step 4
3. Compare package version with existing version and output warning if applicable
4. Application starts

[2019-10-21 02:58] DatscIY commented on #108
In the new issue description template the following items are listed.

## Checklist

- [ ] I think the code is well written
- [ ] Unit tests for the changes exist
- [ ] Documentation reflects the changes
- [ ] Add a new news fragment into the `CHANGES` folder
  * name it `<issue_id>.<type>` (e.g. `588.bugfix`)
  * if you don't have an `issue_id` change it to the pr id after creating the PR
  * ens

[2019-10-21 05:40] #95 closed

[2019-10-24 05:34] Arfey commented on #104
If `Application` in your logic is `create-aio-app` so yes.

[2019-10-24 22:49] ivernus commented on #104
I added an initial test check here @Arfey https://github.com/ivernus/create-aio-app/commit/4b7ec5d8bbb8a4940d1162fa44775426e9e75ce8. But for some reason when I try to run the make test on the code dir it complains about missing requests library. I have added it to the requirements, tried reinstalling manually but it doesn't appear to work, also tried adding to the setup.cfg file as a requirement.

[2019-10-26 20:56] webknjaz opened #157 "Replace PyPI creds with tokens in Travis CI config"
1) Set username to `__token__`
2) And replace the password secret with:
[code]

[2019-10-26 20:58] webknjaz commented on #157
@MaxTyulin ^

[2019-10-26 20:59] #110 closed

[2019-10-30 19:23] webknjaz commented on #108
FYI GitHub got feature updates for templates: https://github.blog/changelog/2019-10-28-new-issue-template-configuration-options/

[2019-10-30 19:26] webknjaz commented on #108
@DatscIY Please add `Closes #108` to your PR somewhere in its description so that GitHub would link it properly.

[2019-11-22 21:17] gugaevkirill opened #161 "Is new release in plans??"
The latest version is 0.0.7 - created long time ago.
This version contains bugs fixed in later PRs.

Are you going to upload new release soon?

[2019-11-25 14:54] Arfey commented on #161
for u https://pypi.org/project/create-aio-app/ :)

[2019-11-25 14:55] #161 closed

[2020-03-15 20:41] greenkiwi opened #171 "make test fails with default project"
I have created a sample application `test_example` and then when I run the tests, I get a failure `ERROR: file not found: make`

Create application
[code]

Output
[code]

Is this expected?

I would have expected to have the stock test `test_views.test_view` execute.

[2020-03-15 23:44] Arfey commented on #104
Hi, could u make a pull request with ur changes? 😀

[2020-03-16 00:09] Arfey commented on #171
hi, thx for ur report 😀

i fixed problem

https://github.com/aio-libs/create-aio-app/blob/88bf76809871bea733d5862f44a2a88237aedb49/create_aio_app/template/%7B%7Bcookiecutter.project_name%7D%7D/docker-compose.yml#L61

u need just add that to ur compose file.

Also i did a new release with fix `0.0.9`.
ps: if u'll use a new release with `--without-postgres` u should to see `'typing.AsyncGenerator' i

[2020-03-16 00:09] #171 closed

[2020-03-16 20:54] greenkiwi commented on #171
@Arfey thx!!! 🥇

[2020-04-01 23:29] greenkiwi opened #176 "Black line length doesn't match default flake8 length"
I've noticed that the default black line length of 88 doesn't match that of flake8 (79).

I would suggest setting the default flake8 length to 88

[code]

[2020-04-02 18:15] demonazZz commented on #98
Hi,
Could you please review? PR: https://github.com/aio-libs/create-aio-app/pull/178
Thanks

[2020-04-02 19:52] drholera commented on #96
Hello, is this still actual? It looks like it's already fixed.

[2020-04-09 17:39] Arfey commented on #96
u are right, thx 😉

[2020-04-09 17:39] #96 closed

[2020-04-11 20:06] priyanshu20 commented on #104
hi,
can i work on this if it is still relevant?

[2020-04-12 13:04] Arfey commented on #104
@ivernus please make a pull request with changes

[2020-04-12 13:08] Arfey commented on #104
@priyanshu20 i hope it's not relevant 😀
but if u wanna help, u can add handlers for 500 and 404 error

[2020-04-15 15:49] ivernus commented on #104
Sorry @Arfey i wasn't getting these notifications for some reason. Let me make the updates and send the PR

[2020-04-16 14:34] Arfey opened #181 "update requirements by pip-tools"
We have script for updating our requirements. But we can move to some better:

[code]
i think this looks much better.

- [ ] remove `check-requirements.py`
- [ ] add pip-compile for `upgrade` command into makefile
- [ ] describe into the documentation how use *.in files for that

[2020-04-16 20:06] Arfey opened #182 "add authorization"
https://aiohttp-security.readthedocs.io/en/latest/

- [ ] add login page
- [ ] add view for login

user info - postgres
session data - redis

[2020-04-16 20:13] Arfey opened #183 "Add params for makefile"
Will be great have approach to put some arguments for make test or commands some like this.

For that we need add some like that into `Makefile`.
[code]

and after that add `${ARGS}` to our commands

[code]

u need:

- [ ] generate ARGS variable
- [ ] add this variable to all commands which need it
- [ ] describe that into documentation

[2020-04-30 22:51] Sanyen commented on #114
Hello there folks, just for clarification: Are we looking to generate the cookiecutter.json file in a different directory?

[2020-05-01 08:22] hyzyla opened #186 "rm: cannot remove 'project_new/.pytest_cache/*': Permission denied"
After first run of command `make test` from 3 step in contribution guide, second run failed with a list of errors:
[code]

I'm on Linux, Ubuntu 18.04 and I think this issue is related to this issue https://github.com/moby/moby/issues/3124

Also, this is not reproducible on MacOS

[2020-05-08 13:06] Arfey commented on #114
Hi 👋

After create project via create-aio-app in project we have cookiecutter.json, but this file need only for generation and don't need in project. So task is remove this file in generated project.

[2020-05-08 13:06] ranveersequeira commented on #183
I'm new in open source.
Can I start to work on this?

[2020-05-08 13:16] Arfey commented on #186
Hi 👋

This error connected only with linux. Docker create all files as a root user and when u try remove them u got current error.

I know some solution:

- run all with sudo 😅
- disable cache for pytest and mypy

[code]

Please, text me back if any of these approaches has helped you

[2020-05-08 13:18] Arfey commented on #183
Sure. i'll what ur MR 😀

[2020-05-08 13:49] ranveersequeira commented on #183
I'mean I've just started today.
Do you think I can do that?
Just forked this and checking whole codebase

[2020-05-08 13:52] Arfey commented on #183
Who know, but i'll believe in u 😂
I think so this article will help u
https://opensource.com/article/19/7/create-pull-request-github

[2020-05-08 13:56] ranveersequeira commented on #183
Sir, I mean what i supposed to know to get started?

[2020-05-08 14:02] Arfey commented on #183
This task connected only with this file.

https://github.com/aio-libs/create-aio-app/blob/master/create_aio_app/template/%7B%7Bcookiecutter.project_name%7D%7D/Makefile

Here u can see all useful information for contributor.

https://github.com/aio-libs/create-aio-app/blob/master/CONTRIBUTING.md

if that's not what you want to know, please explain better.

[2020-05-11 01:49] Sanyen commented on #114
Hello there @Arfey,

I will take a crack at it.

[2020-05-12 23:13] Sanyen commented on #114
@Arfey i tried a thing. First pull request, so not sure if everything was done correctly.

[2020-05-16 21:23] Sanyen commented on #114
resolved #114

[2020-05-16 21:26] #114 closed

[2020-05-18 23:05] Sanyen commented on #58
Hello there @Arfey , I've been trying to figure this out for a day or two now. Would like to work on this.

[2020-05-22 00:42] Sanyen commented on #58
So, i kinda got something working. But i'm wondering what would make more sense for other. py-spy record, dump or top. The record feature makes more sense as it can generate an svg file for a visual representation of whats happening. Or, a json file which can be used on speedscope.com for even greater detail.

Any suggestion? @Arfey

[2020-05-22 16:50] BikramjeetSingh commented on #181
Hi, I'd like to pick up this issue.

[2020-06-18 15:39] faraz16iqbal commented on #183
Is this issue still open?

[2020-06-23 10:16] mahendra1290 commented on #183
Is this issue still open ?

[2020-06-23 10:20] mahendra1290 commented on #183
Can i work on this ?.

[2020-06-25 14:49] Arfey commented on #183
sure

[2020-07-10 11:05] songmeo commented on #181
hello, where is `check-requirements.py`?

[2020-07-10 19:46] songmeo commented on #181
hello i removed requirements-dev.txt so some tests didn't pass. Could you please check my changes? Thank you !!

[2020-07-12 01:51] Sanyen commented on #58
Let's get this closed

[2020-07-17 16:21] #58 closed

[2020-07-19 13:49] suvhotta commented on #92
Hi Can you explain a bit more about this issue?

[2020-07-20 09:20] Arfey commented on #92
Hi, sure.

Now, we use `markdown2` library for representation description on main page after generate a new project. In my opinion it's look poor (we don't have code block, quotes and so on). `Marked` looks mutch better and will be cool to rewrite our main page with this library.

[2020-07-20 10:01] suvhotta commented on #92
Thanks for the description. Can you please specify which part you want to be re-written in Marked I mean which file in this repo.

[2020-07-22 08:51] Arfey commented on #92
We use README from template https://github.com/aio-libs/create-aio-app/blob/master/create_aio_app/template/%7B%7Bcookiecutter.project_name%7D%7D/README.md to generate main page for an application.

[2020-08-06 02:21] Sanyen commented on #182
Hey there Arfey, I will look into this over the weekend.

[2020-08-07 08:58] Arfey commented on #182
good luck 👍 if u'll have any questions feel free to ask. Also, i recommend u to do this task step by step and push small changes to review

[2020-08-15 15:54] aUsefulMethod commented on #181
Is this still open?

[2020-08-17 10:14] Arfey commented on #181
@aUsefulMethod wait for merge this MR https://github.com/aio-libs/create-aio-app/pull/200 u can help with code review  this

[2020-08-19 16:03] Oluwasomidotun commented on #183
Is this still open? And can I work on this?

[2020-08-21 03:01] tiago-macedo commented on #183
Yes.

[2020-08-25 09:46] Arfey commented on #183
u can pass output from ur terminal and we can try to help with that.

[2020-08-26 20:18] Oluwasomidotun commented on #183
[image: maketest.png]

On Tue, Aug 25, 2020 at 10:46 AM Mykhailo Havelia <notifications@github.com>
wrote:

[2020-08-31 09:27] Arfey commented on #183
Could u please use GitHub web interface for send screenshot because i can't open `maketest.png` :(

[2020-09-03 03:43] rajatjindal opened #211 "consider installing goodfirstissue bot on project/org"
Hi `aio-libs` Team

I've developed a github bot [goodfirstissue](https://github.com/rajatjindal/goodfirstissue) which tweets 'good first issues' via twitter handle [@goodfirstissue](https://twitter.com/goodfirstissue).

I wanted to see if the team would find it useful to let the bot tweet `goodfirstissues` from this repo/org.

the targeted audience for twitter account are first time contributors,

[2020-09-13 15:22] Sanyen commented on #182
Hey there Arfey, had to be off for this for a good while. And starting to get back on it. Is the login page suppose to be the first page seen when running the app?

[2020-09-14 08:52] Arfey commented on #182
Hi. In my opinion, login page should not be as start page, because u can get index page without authz. Also when u run create-aio-app and after that make run u open login page but u don't have a user for login.

[2020-09-15 00:26] Sanyen commented on #182
True, I got the login is page ready. Just the page right now. No auth or postgres related data. Will be working on the auth side thru the week after work.

[2020-09-15 09:14] Arfey commented on #211
@webknjaz what do u think about add goodfirstissue bot?

[2020-09-16 16:49] webknjaz commented on #211
@Arfey security-wise it's harmless. Community-wise, it may create a flood of newcomers not knowing what they are doing. It's up to you whether to install it, per recent Gh updates you should no longer need org admin approvals to install apps into repos where you are an admin.

[2020-09-17 08:58] Arfey commented on #211
@rajatjindal thank u for propose, but it's not interesting for us

[2020-09-17 08:58] #211 closed

[2020-09-17 09:47] rajatjindal commented on #211
👍🏻 thanks for reviewing and providing an update though.

[2020-09-24 00:28] marcosmamg commented on #183
Please assign it to me

[2020-10-01 16:39] amartya-dev commented on #182
@Sanyen are you still working on this?

[2020-10-01 16:51] Sanyen commented on #182
Yes, on hold for personal reasons. Will be resuming this weekend.

[2020-10-04 19:43] Sanyen commented on #182
@amartya-dev feel free to take this over. Think I've bitten off a bit more than I can handle right now.

[2020-10-05 09:58] amartya-dev commented on #182
Ok, I think my approach would be this:
- Create a custom column for user password using SqlAlchemy's Varchar and func
- Add a method to hash and match password strings possibly with a generated key and cryptography library
- Add a method to create a user by setting the password using the create_user method I talked about in the previous point.
- Add a login and register view
- Add corresponding ro

[2020-10-23 12:46] Arfey commented on #183
if u have a time then MR welcome

[2020-11-18 18:32] NicholasJVormack commented on #102
@arfey I would love to work on this.

[2020-11-30 15:39] Arfey commented on #102
sure 😀

[2021-01-21 17:51] HenriGourgue commented on #183
I would like to work on this as my first contribution, is it open?

[2021-01-25 16:42] Arfey commented on #183
sure)

[2021-01-26 20:16] HenriGourgue commented on #183
I worked on this issue. I've made something like that : <br>`$make upgrade ARGS="test1 test2 test3 test4"`<br>
**output**
`docker-compose run --rm riton6_app python3 -m riton6.utils.check-requirements test1 test2 test3 test4`

Is it what you were waiting for ?
If it is not, could you please be more specific ?

[2021-02-15 15:52] Dreamsorcerer opened #244 "Wrong "/'"
The template code uses `'` everywhere, but `make black` reformats everything to `"`.

We should reformat the template directory with Black, or change the Black configuration options (I'd vote for reformatting to `"`).

[2021-04-29 23:14] pmkuny commented on #51
Can we close this issue now that this has been merged?

[2021-04-30 15:35] #51 closed

[2021-06-10 02:44] Alexis117 opened #268 "Black formatting templates brakes docker image creation"
Before the black formatting of the template ```__init__.py``` file, used to have single quotes:

[code]

Now it has double quotes and this is breaking the REGEX validation on setup.py.

[code]

[code]

[2021-08-19 12:10] sandipan898 commented on #92
Hi, Is this issue still open to fix or someone has already fixed it?

[2021-08-19 17:14] Arfey commented on #92
Hi ✋yes, this issue is still open

[2021-09-02 19:16] shubhdholakiya commented on #92
Hello, Is this issue open?

[2021-09-02 19:19] shubhdholakiya commented on #102
Hello Afrey,
Is this still Open?

[2021-09-02 21:07] Arfey commented on #92
yes

[2021-09-02 21:08] Arfey commented on #102
yes, we still wait a good article about our tool 🙃

[2021-09-03 11:57] shubhdholakiya commented on #92
I want to work on this issue

[2021-09-03 15:33] Arfey commented on #92
great 🙂
we don't use github assign

[2021-09-14 20:56] PARAVPREET17 commented on #21
Hello I am Paravpreet Singh. I know deployment on Heroku  and new to open source. Can you assign this issue to me ?

[2021-09-17 15:59] Arfey commented on #21
Hello. Sure, u can take this issue

[2021-09-26 14:20] anthony-aleman commented on #53
Is this issue still available? I would like to take this on

[2021-09-27 08:02] Arfey commented on #53
Yes, it is 🙂

[2021-11-20 01:36] Copastr commented on #102
GG That's a long wait

[2022-01-22 07:24] ShubhamNagure commented on #268
can i contribute this issue?

[2022-01-22 19:35] Arfey commented on #268
Hi 🤚

This part already looks great, so i'll close the issue

https://github.com/aio-libs/create-aio-app/blob/73098eba5213d11037107534365b079a3ec75a86/create_aio_app/template/%7B%7Bcookiecutter.project_name%7D%7D/setup.py#L8

but if u wanna help with current project u can get some else

[2022-01-22 19:35] #268 closed

[2022-05-24 20:32] PrithviRana1 commented on #183
Is this still open?

[2022-06-06 08:52] Arfey commented on #183
Hi, i think so yes. the version with ARGS= doesn't look like so good solution. in description for this issue we have solution which cover all cases

[2022-09-07 18:37] Akshat-321 commented on #53
please allow me to work on remaining tasks if available

[2022-09-08 16:00] Arfey commented on #53
sure

[2022-09-09 11:11] Akshat977 commented on #21
Hi, @Arfey can I take up this issue?

[2022-09-10 16:45] AkshatGoel-321 commented on #102
I have added the article section.please check my pull request.under heading"please check"

[2022-09-10 16:47] AkshatGoel-321 commented on #102
https://github.com/aio-libs/create-aio-app/pull/308

[2022-11-06 21:36] Askully commented on #186
Docker should be made to use a special `docker` user instead of creating files as root